@import '../../Global/Style';

.addUsers-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:linear-gradient(90deg, rgba(12, 12, 247, 0.63) 0%, rgba(180, 130, 238, 1) 100%);
  //color: white;
  padding: 30px;
}


