@import '../../Global/Style';

.card {
    background-color: $white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 17px 8px 0px #00000017;

    @include respond(mobileM) {
      box-shadow: 1px 10px 8px 0px rgb(0 0 0 / 9%);
    }
    
    .inner {
        display: flex;
        color: $textColor8080;
        font-size: 20px;

        .counter {
            margin: 0 0 40px 5px;

            .current,
            .amount {
                padding: 0 5px;
            }

            @include respond(mobileM) {
                margin-bottom: 20px;

            }

        }
    }

    .question {
        p {
            font-size: 20px;
            color: lighten($textColor8080, 9);
            text-transform: capitalize;
        }
    }
}